body {
    font-family: $font-primary;
    background-color: $light-color;
    margin: 0;
}

header {
    background-color: $primary-color;
    color: $white-color;
    padding: $spacing-md;

    @include flex-center;
}

.navbar {

    a {
        color: $white-color;
        margin: $spacing-sm;
        text-decoration: none;

        &:hover {
            color: yellow;
        }
    }
}

.card {
    background-color: $white-color;
    padding: $spacing-md;
    border-radius: $radius;

    @include card-shadow;

    .card-image {
        width: 100%;
        border-radius: $radius;
    }

    .card-title {
        font-size: 20px;
        color: $secondary-color;
    }

    &:hover {
        transform: translateY(-5px);
    }

    &.featured {
        border: 3px solid gold;
    }
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-md;

    @include respond-to(tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to(desktop) {
        grid-template-columns: repeat(4, 1fr);
    }
}